<?php
/**
 * Created by PhpStorm.
 * User: mart
 * Date: 28/11/18
 * Time: 11:08
 */

namespace App\api;

/**
 * Make a copy of this file (same folder) as filename Confidential.php.
 * Change 'your*' to your own values, this file is unversioned (.gitignore).
 *
 * Class Confidential
 * @package App\api
 */
class Confidential
{
    protected $mail;

    public function __construct()
    {
        $this->mail = array(
            'user' => 'yourEmailAddress',
            'password' => 'yourPassword'
        );
    }

    /**
     * @return array
     */
    public function getMail()
    {
        return $this->mail;
    }
}